@charset "utf-8";


@import "components/smartGrid.scss";
@import "pages/home.scss";
@import "layouts/basket.scss";
@import "components/smartBasket.scss";

@include reset();

body {
  padding: 30px;
  font-family: "Arial";

}

* {
  box-sizing: border-box;
  outline: none;
}

