@charset "utf-8";

$font: 'Roboto Mono';
$cart-name-color: #5A5E76;
$select-green: transparent;
$price-green: transparent;
$cart-submit: #E1A0A0;
$cart-submit-hover: #9e6f6f;
$art-color: rgba(216, 201, 219, 0.3);
$basket-color: #E16036;
$clear-basket-color: rgba(226, 89, 51, 0.65);
$clear-basket-hover: rgba(226, 89, 51, 0.74);
