@charset "utf-8";

$font: 'Arial';
$cart-name-color: #5A5E76;
$select-green: #9EC1A3;
$price-green: #738D77;
$cart-submit: #22223B;
$cart-submit-hover: rgba(34, 34, 59, 0.9);
$art-color: rgba(90, 90, 90, 0.61);
$basket-color: #BFBFBF;
$clear-basket-color: #dbdbdb;
$clear-basket-hover: #c4c4c4;
