@charset "utf-8";

.basket-pic-wrapper {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.basket-error {
  border: 1px solid red;
}

.remove-basket-btn {
  border-radius: 30px;
  background-color: transparent;
  font-size: 18px;
  width: 30px;
  color: #636369;
  border: 1px solid #c2c1d0;
  height: 30px;
  text-align: center;
  transition: all 0.3s;


  &:hover {
    color: #fff;
    background-color: #c2c1d0;
  }
}

.empty-basket-message {
  color: #e16036;
}

.basket {

  &-table {
    border-collapse: collapse;
    width: 100%;
    thead {
      td {
        padding: 15px 0;
        font-size: 12px;
        font-family: Arial;
        border: 1px solid rgb(194, 193, 208);
        font-weight: 600;
        text-align: center;
      }
    }

    tbody {
      tr, td {
        border: 1px solid rgb(194, 193, 208);
      }

      td {
        padding: 15px 0;
        text-align: center;
      }
    }
  }

  &-hide {
    display: none;
  }

}